<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Project Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">

</head>
<body>
<div class ="pimg1">
    <div class ="ptext">
            <span class="border">
                ABOUT VENUS
            </span>
    </div>
</div>

<section class="section section-light">
    <button onclick="location.href='products.html'" type = "button"><span></span>PRODUCTS PAGE</button>
</section>

<div class ="pimg2">
    <div class ="ptext">
            <span class="border">
                OUR GOAL
            </span>
    </div>
</div>

<section class="section section-dark">
    <h2>GOAL: </h2>
    <p>
        Our goal is to create an online app that has a high end online shopping experience that matches the aura of high end fashion.
    </p>
</section>

<div class ="pimg3">
    <div class ="ptext">
            <span class="border">
                Validating your shopping addiction
            </span>
    </div>
</div>
<section class="section section-dark">
    <h2>OUR MISSION: </h2>
    <p>
        Our mission is simple: to empower users to explore and acquire the world's most coveted fashion pieces with ease, confidence, and an unparalleled sense of exclusivity—all from the comfort of their devices.
    </p>
</section>

<div class ="pimg1">
    <div class ="ptext">
            <span class="border">
                Thanks For Visiting!
            </span>
    </div>
</div>
</body>
</html>